@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
640px, 768px, 1024px, 1280px, 1536px (Tailwind Default - sm, md, lg, xl, 2xl)
Add breakpoint  screens: {'xs': '480px'} and {'1xl': '1440px'},
Design for 1440px max width, beyond background color.
Design for 375px (320px) smallest width without scroll bar

1280 X 593 my laptop default dimension
1422 X 659 - 90%
1600 X 742 - 80%

Desktop: 1920×1080, 1366×768, 1536×864, 1280×720
While there's no universally fixed "acceptable" max height, sticking to 400–700px (desktop) and 300–500px (mobile) ensures components remain scroll-free, readable, and user-friendly. Ultimately, always test your design across different devices to validate usability.
*/

* {
  utline: 1px solid black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

